*{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Poppins', sans-serif;
    background-image: linear-gradient(rgb(230, 162, 247),rgb(93, 158, 243));
   margin: 0%;
   margin-bottom: 10%;
   margin-right: 5%;
   margin-left: 5%;
   background-color:rgb(203, 103, 212)
}

main{
    width: 75%;
    border: solid 2px black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info {
    display: block;
    border: 1px solid black;
    margin: 12px;
    padding: 0 5px;
    flex-basis: 300%;
}

img {
    width: 15%
}

body{
    font-size: 15px;
}

h2 {
    margin: auto
}

.row{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
p {
    margin: auto
}

img.anna {
    margin-top: 30px;
    background-color:rgb(250, 245, 245); 
    width: 100px;
    height: 100px;
}
nav img{
    width: 150;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(221, 25, 221);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
     width: 100%;
}
.photo-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(184, 35, 197);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.photo-btn:hover{
    border: 1px solid rgb(230, 28, 203);
    background: rgb(0, 0, 0);
    transition: 1s;
}
@media screen and (max-width: 500px) {
    main {
        width: 100%;
    }
    .info{
    flex-basis: 100%;
    }
    body{
        font-size: 75%;
    }
}